.home-page-title {
    margin-bottom: 40px;
}

.home-page-paragraph {
    max-width: 800px;
    margin: 20px 0;
}

.select-caret {
    position: absolute;
    direction: rtl;
    margin-top: 10px;
    right: 10px;
}

.input-group-flex {
    display: flex;
}

.input-group-column {
    flex-basis: 50%;
    margin-right: 5px;
}

.input-group-column-action {
    flex-basis: 20px;
    align-content: center;
    margin-bottom: 10px;
}

.input-group-column-action i {
    cursor: pointer;
}

.input-group-header {
    display: flex;
}

.input-group-header .input-group-action {
    margin-left: auto;
    margin-top: 2px;
    cursor: pointer;
}

.input-group.input-group-outline.gray-input-box.is-focused .form-label + .form-control,
.input-group.input-group-outline.gray-input-box.is-filled .form-label + .form-control {
    border-color: #d2d6da !important;
    border-top-color: transparent !important;
    box-shadow:
        inset 0px 0 #d2d6da,
        inset 0px 0 #d2d6da,
        inset 0 0px #d2d6da;
}

.input-group.input-group-outline.gray-input-box.is-focused .form-label,
.input-group.input-group-outline.gray-input-box.is-filled .form-label {
    color: #7e839c;
}

.input-group.input-group-outline.gray-input-box.is-focused .form-label:before,
.input-group.input-group-outline.gray-input-box.is-focused .form-label:after,
.input-group.input-group-outline.gray-input-box.is-filled .form-label:before,
.input-group.input-group-outline.gray-input-box.is-filled .form-label:after {
    border-top-color: #d2d6da;
    box-shadow: inset 0 0px #d2d6da;
}

.save-btn {
    width: 100px;
}

.status-pill {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.job-progress-bar .progress {
    padding: 0;
    margin: 0 12px;
    height: max-content;
}

.job-progress-bar .progress-bar {
    height: 25px;
}

.job-progress-bar .progress-bar.bg-disabled {
    background-color: lightgray !important;
}

.job-details-button a.btn {
    padding: 0;
    margin: 0;
}

.job-details-download-button a.btn {
    padding: 0;
    margin: 15px 0 0 0;
}

.job-round-details {
    padding-left: 40px;
}

.job-round-details .col-sm-2 {
    width: 20%;
}

#job-client-field {
    margin-top: 30px;
}

.job-client-details {
    border-bottom-style: hidden;
}

.job-client-progress-label div {
    margin-top: -15px;
}

.job-client-progress-label.empty-cell {
    padding: 0px;
}

.job-client-progress.empty-cell {
    padding: 0px;
}

.job-client-progress .card {
    flex-direction: row;
    box-shadow: none;
    margin: 0 !important;
}

.job-client-progress .card .row,
.job-client-progress .card .row .text-dark {
    color: #7b809a !important;
    font-weight: normal;
    text-wrap: wrap;
}

.job-client-progress .card .card-body {
    padding: 0 1.5rem 0 0;
}

.job-client-progress .card .card-header {
    height: 0px;
    width: 0px;
    overflow: hidden;
    padding: 0;
}

.job-client-progress .card .card-body .row .col-sm {
    align-content: center;
}

.job-client-progress .job-progress-bar {
    margin-left: -5px;
    margin-bottom: 0px !important;
    padding-left: 1rem !important;
}

.job-client-progress .job-progress-bar .progress {
    width: 50%;
    height: max-content;
    margin: auto;
}

.job-client-progress .job-progress-bar .progress .progress-bar {
    height: max-content;
}

.log-viewer.show {
    display: block;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}

.log-viewer .modal-dialog {
    max-width: 90%;
}

.log-viewer .modal-content {
    height: 100%;
}

.log-viewer .btn-close {
    color: black;
    font-size: 30px;
    margin-top: -25px;
}

.log-viewer a.refresh-button,
.log-viewer a.download-button {
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
}

.log-viewer .modal-body {
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
}

.log-viewer .loading-container {
    height: 100%;
    width: 100%;
    display: inline-grid;
    align-content: center;
    justify-content: center;
}

#job-server-config-import {
    padding: 0;
    margin-top: 4px;
    margin-left: 15px;
}

#job-server-config-import .material-icons {
    vertical-align: text-top;
}

#job-server-config-uploader {
    opacity: 0;
}
