.input-group-flex {
    display: flex;
}

.input-group-two-column {
    flex-basis: 50%;
    margin-right: 5px;
}

.input-group-header {
    display: flex;
}

.input-group-header .input-group-action {
    margin-left: auto;
    margin-top: 2px;
    cursor: pointer;
}
