.input-group-flex {
    display: flex;
}

.input-group-column {
    flex-basis: 50%;
    margin-right: 5px;
}

.input-group-column-action {
    flex-basis: 20px;
    align-content: center;
    margin-bottom: 10px;
}

.input-group-column-action i {
    cursor: pointer;
}

.input-group-header {
    display: flex;
}

.input-group-header .input-group-action {
    margin-left: auto;
    margin-top: 2px;
    cursor: pointer;
}

.input-group.input-group-outline.gray-input-box.is-focused .form-label + .form-control,
.input-group.input-group-outline.gray-input-box.is-filled .form-label + .form-control {
    border-color: #d2d6da !important;
    border-top-color: transparent !important;
    box-shadow:
        inset 0px 0 #d2d6da,
        inset 0px 0 #d2d6da,
        inset 0 0px #d2d6da;
}

.input-group.input-group-outline.gray-input-box.is-focused .form-label,
.input-group.input-group-outline.gray-input-box.is-filled .form-label {
    color: #7e839c;
}

.input-group.input-group-outline.gray-input-box.is-focused .form-label:before,
.input-group.input-group-outline.gray-input-box.is-focused .form-label:after,
.input-group.input-group-outline.gray-input-box.is-filled .form-label:before,
.input-group.input-group-outline.gray-input-box.is-filled .form-label:after {
    border-top-color: #d2d6da;
    box-shadow: inset 0 0px #d2d6da;
}

.save-btn {
    width: 100px;
}

.status-pill {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

#job-progress .progress {
    padding: 0;
    margin: 0 12px;
    height: max-content;
}

#job-progress .progress-bar {
    height: 25px;
}

#job-progress .progress-bar.bg-disabled {
    background-color: lightgray !important;
}

.job-expand-button a.btn {
    padding: 0;
    margin: 0;
}

.job-round-details {
    padding-left: 40px;
}

.job-round-details .col-sm-2 {
    width: 20%;
}
