name: publish package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install apt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev libssl-dev
      - uses: actions/checkout@v6.0.1
      - name: Set up Python 3.10
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.10'
      - name: Build package
        run: |
          python -m pip install --upgrade pip
          poetry env use python3.10
          poetry build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
