name: code checks

on:
  push:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/static_code_checks.yaml
      - '**.py'
      - poetry.lock
      - pyproject.toml
      - '**.ipynb'
      - '**.tsx'
  pull_request:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/static_code_checks.yaml
      - '**.py'
      - poetry.lock
      - pyproject.toml
      - '**.ipynb'
      - '**.tsx'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'debug'
        type: choice
        options:
          - info
          - warning
          - debug

jobs:
  run-code-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - name: Set up Python 3.10
        uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          version: 1.7.1
      - name: Setup yarn
        uses: mskelton/setup-yarn@v3
      - name: Install dependencies and check code
        run: |
          yarn
          python -m pip install --upgrade pip
          poetry env use python3.10
          source .venv/bin/activate
          poetry install --with test --all-extras
          pre-commit run --all-files --verbose
      - name: pip-audit (gh-action-pip-audit)
        uses: pypa/gh-action-pip-audit@v1.1.0
        with:
          virtual-environment: .venv/
          # Skipping 4 pytorch issues that can't be patched because of FL4Health
          # Skipping 1 ecdsa vulnerability that has no planned fix version
          ignore-vulns: |
            GHSA-3749-ghw9-m3mg
            GHSA-887c-mr87-cxwp
            PYSEC-2024-259
            PYSEC-2025-41
            GHSA-wj6h-64fc-37mp
